
html {
  background-color: $body-background-color;
  overflow: hidden !important;
}
 
body {
  margin: 0px;
  padding: 0px;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
}

::-webkit-scrollbar { 
  background: none; 
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-track {
  background: none;
}

::-webkit-scrollbar-track-piece {
  background: none;
}

::-webkit-scrollbar-thumb {
  background: rgba(200,200,200,0.1);
  //border: solid 1px rgba(200,200,200,0.2);
  border-radius: 15px;
}

::-webkit-scrollbar-corner {
  background: none;
}

::-webkit-resizer {
  background: none;
}

::-webkit-scrollbar-button {
  width: 5px;
  height: 5px;
}

.dashboard-panel
{
  //backdrop-filter: blur(15px);
  background-color: $background;
}

.dashboard-main.has-background
{
  background-image: url(https://images.wallpaperscraft.com/image/sand_desert_dunes_137817_1920x1080.jpg);
  background-size: cover;
  background-position: center center;
}

.dashboard-main > .body
{
  background-color: rgba(0,0,0, 0.6);
}

.box {
  border-radius: 0;
}

.has-blur-background
{
  backdrop-filter: blur(15px);
}

.pageloader
{
  background-color: $body-background-color;
}


gel-table
{
  .table-cell
  {
    border-bottom: 1px solid rgba(255,255,255,0.1);
    border-left: 1px solid rgba(0,0,0,0);
    border-right: 1px solid rgba(0,0,0,0);
    border-top: 1px solid rgba(0,0,0,0);

    &:hover
    {
      border-left: 1px solid rgba(255,255,255,0.1);
      border-right: 1px solid rgba(255,255,255,0.1);
    }

    &.is-header
    {
      text-transform: uppercase;
      font-weight: bold;
      background-color: black;

      &:hover
      {
        border-top: 1px solid rgba(255,255,255,0.1);
      }
    }

    &.is-actions
    {
      display: flex;
      flex-direction: row-reverse;
      
      &>.gap
      {
          display: block;
          width: 0.5rem;
      }
    }
  }
}
