
graphene-ui
{
    display: block;

    .dashboard-main
    {
        height: 100vh;
        overflow: hidden;
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: 3.25rem auto;

        .body
        {
            overflow: auto;
          
            segment.segment
            {
              width: 100%;
              display: block;
              @media screen and (min-width: 1024px) {
                padding-top: 40px;
              }
            }
        }
    }

    .dashboard-panel
    {
      min-width: 300px;
    
      @media screen and (max-width: 1024px) {
        min-width: 220px;
      }
    }

    
    .no-padding {
        padding: 0;
    }
    
    .is-flex-center {
        display: flex;
        align-items: center;
    }
    
    .is-flex-stretch {
        display: flex;
        align-items: stretch;
    }
    
    .is-fullheight {
        height: 100%;
    }
    
    .clickable {  
        cursor: pointer;
    } 
    .flex-grow {
        flex-grow: 1;
    } 
}
