
html {
  background-color: black;
  overflow: hidden !important;
}
 
body {
  margin: 0px;
  padding: 0px;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  background-image: url(https://images.wallpaperscraft.com/image/sand_desert_dunes_137817_1920x1080.jpg);
  background-size: cover;
  background-position: center center;
}

::-webkit-scrollbar { 
  background: none; 
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-track {
  background: none;
}

::-webkit-scrollbar-track-piece {
  background: none;
}

::-webkit-scrollbar-thumb {
  background: rgba(200,200,200,0.1);
  //border: solid 1px rgba(200,200,200,0.2);
  border-radius: 15px;
}

::-webkit-scrollbar-corner {
  background: none;
}

::-webkit-resizer {
  background: none;
}

::-webkit-scrollbar-button {
  width: 5px;
  height: 5px;
}

.modal-background {
    backdrop-filter: blur(15px);
}

.dashboard-panel
{
  //backdrop-filter: blur(15px);
  background-color: $background;
  min-width: 300px;

  @media screen and (max-width: 1024px) {
    min-width: 220px;
  }
}

.dashboard-main > .body
{
  background-color: rgba(0,0,0, 0.6);

  segment.segment
  {
    width: 100%;
    display: block;
    @media screen and (min-width: 1024px) {
      padding-top: 40px;
    }
  }
}

.no-padding {
  padding: 0;
}

.is-flex-center {
    display: flex;
    align-items: center;
}

.is-flex-stretch {
    display: flex;
    align-items: stretch;
}

.is-fullheight {
  height: 100%;
}

.clickable {  
  cursor: pointer;
} 
.flex-grow {
    flex-grow: 1;
} 

.box {
  border-radius: 0;
}

.has-blur-background
{
  backdrop-filter: blur(15px);
}